<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What do you see?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/extra_style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#project">About project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#example">Examples</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#references">References</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="view text-white text-center py-5 px-4 mt-5">
            <div class="container">
                <h2 class="h1-responsive pt-3 mb-2 font-bold"><strong>Welcome!</strong></h2>
                <p class="main_text mx-5 mb-5">This website is used to create annotations for the BUT_pedestrians dataset, which was created by students of the Faculty of Information Technology in Brno. In the <a href="#example">"Examples"</a> section you will find instructions on how to annotate the dataset.
                Once you click the start button, you will be redirected to a site where you can annotate images in the BUT_pedestrians dataset. The goal is to always choose the estimated gender, age and fashion style. The most important is your subjective opinion, the success rate is not evaluated.</p>
                <form action="" method = "post" >
                    <input class="btn btn-primary" type="submit" value="Start now!">
                </form>
            </div>
        </div>
    </div>

</div>

<div id="project" class="about_project container pt-5">
    <div>
        <h5 class="card-title mx-5 mt-5">About project.</h5>
        <p class="card-text mx-5 mb-5">The website was designed to create a new annotated BUT_Pedestrians dataset that can be used to train neural networks.
            The goal is to create a new dataset that will annotate the sex, age and fashion of pedestrians. Subsequently, the dataset will be used for research purposes in diploma and bachelor theses of students of the Faculty of Information Technology in Brno.
            The dataset is generated for research purposes and will not be published.</p>
    </div>
</div>

<div id="example" class="jumbotron pb-3">
    <div class="container">
        <h5 class="card-title mx-5">How to annotate?</h5>
    </div>
    <img class="rounded mt-3 mx-auto d-block w-50" src="/static/example.jpg" alt="Source image">
</div>

<div id="references" class="pb-3">
    <div class="container">
        <h5 class="card-title mx-5">Sources of icons used from websites:</h5>
        <ul>
            <li>
                <a href="https://www.freepik.com/free-photos-vectors/people">People vector created by rawpixel.com - www.freepik.com</a>
            </li>
            <li>
                <a href="https://www.freepik.com/free-photos-vectors/business">Business vector created by rawpixel.com - www.freepik.com</a>
            </li>
        </ul>
    </div>
</div>


</body>
</html>